torch
torchvision 
torchaudio 
transformers>=4.40.1
fairscale>=0.4.13
fire>=0.6.0
tiktoken==0.4.0
blobfile>=2.1.1
accelerate>=0.29.3
sentencepiece
numpy
pandas
nltk
matplotlib
evaluate
datasets
deepspeed
seaborn
tensorboard
tensorboardX
rouge_score
scikit-learn
jellyfish
scipy